{% load static %}

<div class="modal fade" id="addLivruModal" tabindex="-1" aria-labelledby="livruFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
        <form id="addLivru" method = 'POST' action="{% url "add-livru" %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class = "card card-success">
                <div class="card-header">
                    <h5 class="card-title" id="livruFormModalLabel">Aumenta Livru <i class="bi bi-journal-plus ml-2"></i></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="titulu" class="form-label">Titulu Livru</label>
                                {{ form.titulu_livru}}
                            </div>
                            <div class="mb-3">
                                <label for="data" class="form-label">Data Publisidade</label>
                                {{ form.data_publish }}
                            </div>
                            <div class="mb-3">
                                <label for="nasaun" class="form-label">Husi Nasaun</label>
                                {{ form.nasaun }}
                            </div>
                        </div>
                        <div class = "col-md-6">
                            <div class="mb-3">
                                <label for="nasaun" class="form-label">Tipu Livru</label>
                                {{ form.tipu_livru }}
                            </div>
                            <div class="mb-3">
                                <label for="foto" class="form-label">Cover Livru</label>
                                {{ form.foto_livru }}
                            </div>
                            <div class="mb-3">
                                <label for="author" class="form-label">Author</label>
                                {{ form.id_author }}
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="Sypnosis" class="form-label">Sypnosis</label>
                                {{ form.sypnosis }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Taka</button>
                    <button   button type="submit" class="btn btn-success">Guarda <i class="bi bi-floppy2-fill ms-2"></i></button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#summernote_add').summernote({
            height: 200, // Set the height of the editor
            toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['insert', ['link']],
            ['view'] , ['fullscreen']
            ]
        });
    });
</script> 

