{% extends 'home.html' %}
{% block content %}
<style>
  hr.bold {
    border: none;
    border-top: 5px solid black; 
    margin: 1rem 0;
  }
</style> 

<div class="d-flex justify-content-between align-items-center p-3 rounded " style="background: linear-gradient(to right, #004085, rgb(30, 48, 68)); color: white; ">
  <a class="btn btn-sm btn-light" href="{% url 'lista-livru' %}">
    <i class="bi bi-arrow-return-left btn-sm"></i> Fila ba Lista
  </a>
  <h2 class="mb-0 text-center flex-grow-1">Detalla ba Livru <strong>{{ livru.titulu_livru }}</strong></h2>
</div>
<hr class="bg-dark bold mb-2">
<div class="container-fluid">
	<div class="row ">
		<div class="col-md-4">
			<div class="card animate__animated animate__fadeInLeft">
				<h5 class="card-header bg-navy text-white text-center">
					Card title
				</h5>
				<div class="card-body">
					<p class="card-text text-center">
						{% if livru.foto_livru %}
              <img src = "{{ livru.foto_livru.url }}" atl = "Cover Foto" class = "img-fluid" style="width: 150px; height: 150px;">
            {% else %}

						{% endif %}
					</p>
				</div>
				<div class="card-footer">
					Card footer
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card animate__animated animate__fadeInRight">
				<h5 class="card-header">
					Card title
				</h5>
				<div class="card-body">
					<p class="card-text">
						Card content
					</p>
				</div>
				<div class="card-footer">
					Card footer
				</div>
			</div>
		</div>
	</div>
</div>


<div class = 'container-fluid'>
  <div class="card animate__animated animate__fadeInUp">
    <h5 class="card-header bg-navy text-white">
      Deskrisaun Husi  <strong>{{ author.naran_author }}</strong>
    </h5>
    <div class="card-body">
      <p class="card-text">
        {{ author.deskrisaun | safe }}
      </p>
    </div>
    <div class="card-footer bg-transparent text-dark ms-auto">
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editDeskrisaunProfile{{ author.id_author }}">
        <i class="bi bi-pencil-square"></i> Edit Deskrisaun
      </button>
    </div>
  </div>
</div>
{% endblock content %}