
{% load static %}

<div class="modal fade" id="editModal{{ author.id_author }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
        <form id="livruForm" method = 'post' action="{% url 'edit-author' author.id_author %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class = "card card-dark">
                <div class="card-header">
                    <h5 class="card-title" id="livruFormModalLabel">Edit Autor <i class="bi bi-pencil-square"></i></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="naran" class="form-label">Naran Autor</label>
                                <input type="text" name="naran_author" class="form-control" value="{{ author.naran_author }}">
                            </div>
                            <div class="mb-3">
                                <label for="autor" class="form-label">Sexu</label>
                                <select name="sexu" class="form-control">
                                    <option value="M" {% if author.sexu == "M" %}selected{% endif %}>Mane</option>
                                    <option value="F" {% if author.sexu == "F" %}selected{% endif %}>Feto</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="autor" class="form-label">Data Moris</label>
                                <input type="date" name="data_moris" class="form-control" value="{{ author.data_moris|date:'Y-m-d' }}">
                            </div>
                            <div class="mb-3">
                                <label for="data" class="form-label">Email</label>
                                <input type="text" name="email" class="form-control" value="{{ author.email }}">
                            </div>
                            <div class="mb-3">
                                <label for="data" class="form-label">Nasaun</label>
                                <input type="text" name="nasaun" class="form-control" value="{{ author.nasaun }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="data" class="form-label">Deskrisaun</label>
                                <textarea type="text" name="deskrisaun" class="form-control" rows="13" id = "summernote_edit"> {{ author.deskrisaun }} </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Taka</button>
                    <button   button type="submit" class="btn btn-dark">Guarda <i class="bi bi-floppy2-fill ms-2"></i></button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
      // Initialize Summernote for the deskrisaun field
        $('#summernote_edit').summernote({
            height: 200, // Set the height of the editor
            toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['insert', ['link']],
            ]
        });
    });
</script>
