{% extends "home.html" %} 
{% load static  %}
{% block content %}

<link rel="stylesheet" href="{% static 'AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'AdminLTE/plugins/fontawesome-free/css/all.min.css'%}">
<style>
hr.bold {
    border: none;
    border-top: 5px solid black; 
    margin: 1rem 0;
}
</style>

<h3>
    Lista Ba Author Sira 
</h3>
<hr class="bg-dark bold">
{% if messages %}
{% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-info-circle-fill"></i> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}

    <div class="card">
        <div class="card-header bg-navy text-white">
            <h3 class="card-title">Lista ba Autor Sira</h3>
        </div>
        <div class="card-body">
            <table id="tabela_autor" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>Naran Author</th>
                <th>Data Moris</th>
                <th>Sexu</th>
                <th>Email</th>
                <th>Nasaun</th>
                <th>Asaun</th>
            </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'profile-author' author.naran_author %}" class="text-decoration-none text-dark ">
                                {{ author.naran_author }}
                            </a>
                        </td>
                        <td>{{ author.data_moris }}</td>
                        <td>{{ author.sexu }}</td>
                        <td>{{ author.email }}</td>
                        <td>{{ author.nasaun }}</td>
                        <td>
                            <button data-bs-toggle = 'modal' data-bs-target = "#editModal{{ author.id_author }}" class="btn btn-dark btn-sm"><i class="bi bi-pencil-square"></i></button>
                            <button data-bs-toggle = 'modal' data-bs-target = "#delModal{{ author.id_author }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    {% include 'author/edit_author.html' %}
                    {% include 'author/del_author.html' %}
                {% endfor %}
            </tbody>
            </table>
    </div>
<script src="{% static 'AdminLTE/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/pdfmake/vfs_fonts.js '%} "></script></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>

<script>
    $(function () {
    $("#tabela_autor").DataTable({
        "responsive": true,
        "lengthChange": true,
        "autoWidth": true,
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "responsive": true,
        "buttons": [
        {
            text: 'Aumenta Autor <i class="bi bi-person-plus-fill"></i>',
            className: 'btn btn-success',
            action: function (e, dt, node, config) {
            $('#autorFormModal').modal('show'); // This triggers the Bootstrap modal
            }
        },
        {
            extend: 'print',
            text: 'Imprimi <i class="bi bi-printer-fill"></i>',
            className: 'btn btn-dark',
        },
        ]
    }).buttons().container().appendTo('#tabela_autor_wrapper .col-md-6:eq(0)');

});
</script>

{% include 'author/add_author.html' %}


{% endblock content %}
