{% extends "home.html" %}
{% load static %}
{% block content %}

<link href = "{% static 'AdminLTE/css/styles.css' %}" rel = "stylesheet">
<link href = "{% static 'AdminLTE/plugins/select2/css/select2.min.css' %}" rel = "stylesheet">
<link href = "{% static 'AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}" rel = "stylesheet">
    <div class="gradient-header p-4 mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <a class="btn btn-outline-primary" href="{% url 'lista-estudante' %}">
                <i class="bi bi-arrow-left-circle me-2"></i>Fila ba Lista
            </a>
            <h3 class="display-6 mb-0 text-center fw-bold text-white">Edit estudante
                    <a href = "#">
                        <span class = "underline-hover position-relative"><span class="text-accent ">{{ estudante.naran_estudante }}</span></span>
                    </a>
            </h3>
        </div>
    </div>
    <style>
        hr.bold {
            border: none;
            border-top: 5px solid black; 
            margin: 1rem 0;
        }
    </style>
    <hr class="bg-dark bold">
<div class="card card-navy">
    <div class="card-header">
        <h3 class="card-title text-white"><i class="bi bi-info-circle me-2"></i>EDIT estudante</h3>
    </div>
<form method = "POST" >
    {% csrf_token %}
    <div class="card-body">
        <div class="form-group">
            <label for="naran_estudante">NRE</label>
            <input type="text" name="nre" class="form-control" value="{{ estudante.nre }}">
        </div>
        <div class="form-group">
            <label for="naran_estudante">Naran Estudante</label>
            <input type="text" name="naran_estudante" class="form-control" value="{{ estudante.naran_estudante }}">
        </div>
        <div class="form-group">
            <label for="sexu">Sexu</label>
            <select name="sexu" class="form-control">
                <option value="Mane" {% if estudante.sexu == "Mane" %}selected{% endif %}>Mane</option>
                <option value="Feto" {% if estudante.sexu == "Feto" %}selected{% endif %}>Feto</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dep">Departamento</label>
            {{ form.id_dep }}
        </div>
        <div class="form-group">
            <label for="nasaun">Periodo</label>
            {{ form.periodo }}
        </div>
        <div class="form-group">
            <label for="nasaun">Numeru Telefone</label>
            <input type="text" name="nu_telefone" class="form-control" value="{{ estudante.nu_telefone }}">
        </div>
        <div class="form-group">
            <label for="nasaun">Numeru Telefone</label>
            <input type="email" name="email" class="form-control" value="{{ estudante.email }}">
        </div>
    </div>
    <div class="card-footer bg-transparent text-end">
        <a type="submit" class="btn btn-outline-secondary" href = "{% url 'lista-estudante' %}">Fila</a>
        <button type="submit" class="btn btn-dark">Guarda <i class="bi bi-floppy2-fill ms-1"></i></button>
    </div>
</form>
</div>
<script src = "{% static 'AdminLTE/plugins/select2/js/select2.full.min.js' %}"></script>

<script>
    $('.select2').select2()

    $('.select2bs4').select2({
        theme: 'bootstrap4'
    })
</script>

{% endblock content %}

    
