<!-- Modal -->
{% load static %}

<div class="modal fade" id="delModal{{ staff.id_staff }}" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Apaga Dados <i class="bi bi-trash3-fill"></i></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="authorForm" method = 'post' action="{% url "del-staff" staff.id_staff %}">
                {% csrf_token %}
                <div class="mb-3">
                <p>Ita bo'ot Hakarak Apaga Dados Husi</p>
                <p> Staff  <strong>{{ staff.naran_staff }}</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Taka</button>
                    <button button type="submit" class="btn btn-danger">Sim</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>