{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel = "shortcut icon" type = 'x-icon' href="{% static 'images/assembly.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Assembly Library System</title>


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{%static 'AdminLTE/plugins/fontawesome-free/css/all.min.css'%}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
  <link rel="stylesheet" href="{% static 'AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'AdminLTE/plugins/jqvmap/jqvmap.min.css' %}">
  <link rel="stylesheet" href="{% static 'AdminLTE/dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <link rel="stylesheet" href="{% static 'AdminLTE/plugins/daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'AdminLTE/plugins/summernote/summernote-bs4.min.css' %}">
  <link rel="stylesheet" href="{% static 'icons/font/bootstrap-icons.min.css' %}">
  <link rel="icon" href="{% static 'icons/font/bootstrap-icons.min.css' %}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake rounded-circle" src="{% static 'images/assembly metan.png' %}" alt="AdminLTELogo" height="60" width="60">
  </div>   

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Logout <i class="bi bi-box-arrow-left ms-3"></i></a>
      </li>
    </ul>

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-1">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="{% static 'images/assembly.png' %}" alt="Assembly Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">ALS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'images/admin.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Admin Site</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class=" nav-icon bi bi-bar-chart-line-fill"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class=" nav-icon bi bi-book"></i>
              <p>
                Livru
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-person-circle nav-icon"></i>
              <p>
                Author
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-person-fill-check nav-icon"></i>
              <p>
                Staff
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-journal-check nav-icon"></i>
              <p>
                Empresta
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" align = 'center'>{{ title }}</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="justify-content-center">
            {% block content %} {% endblock %}
        </div>
      </div>
    </section>
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2025, Django-Assembly DEI 2022 | Vizita Ami nia Repo <a href="https://github.com/pedrix-48/TOTOM-LIBRARY-SYSTEM"><i class="bi bi-github"></i></a></strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<script src="{% static 'AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/sparklines/sparkline.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/jqvmap/jquery.vmap.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/jquery-knob/jquery.knob.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/summernote/summernote-bs4.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'AdminLTE/dist/js/adminlte.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'AdminLTE/dist/js/pages/dashboard.js' %}"></script>
</body>
</html>
