{% extends "home.html" %} 
{% load static  %}
{% block content %}

<link rel="stylesheet" href="{% static 'AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css'%}">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Lista ba Livru Sira</h3>
        </div>
        <div class="card-body">
            <table id="tabela_livru" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID Livru</th>
                <th>Naran Livru</th>
                <th>Data Publish</th>
                <th>Autor</th>
                <th>Asaun</th>
            </tr>
            </thead>
            <tbody>
                {% for livru in livrus %}
                    <tr>
                        <td>{{ livru.id_livru }}</td>
                        <td>{{ livru.naran_livru }}</td>
                        <td>{{ livru.data_publish }}</td>
                        <td>{{ livru.id_livru }}</td>
                        <td>
                            {% comment %} Depois mak halo {% endcomment %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
<script src="{% static 'AdminLTE/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/pdfmake/vfs_fonts.js '%} "></script></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script>
    $(function () {
    $("#tabela_livru").DataTable({
        "responsive": true,
        "lengthChange": true,
        "autoWidth": true,
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "responsive": true,
        "buttons": [
        {
            text: 'Aumenta Livru <i class="bi bi-journal-plus"></i>',
            className: 'btn btn-success',
            action: function (e, dt, node, config) {
            $('#livruFormModal').modal('show'); // This triggers the Bootstrap modal
            }
        },
        "print",
        ]
    }).buttons().container().appendTo('#tabela_livru_wrapper .col-md-6:eq(0)');
});
</script>


<!-- Modal -->
<div class="modal fade" id="livruFormModal" tabindex="-1" aria-labelledby="livruFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form id="livruForm">
            <div class = "card card-primary">
                <div class="card-header">
                    <h5 class="card-title" id="livruFormModalLabel">Aumenta Livru <i class="bi bi-journal-plus"></i></h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="naran" class="form-label">Naran Livru</label>
                        <input type="text" class="form-control" id="naran" name="naran" required>
                    </div>
                    <div class="mb-3">
                        <label for="autor" class="form-label">Autor</label>
                        <input type="text" class="form-control" id="autor" name="autor" required>
                    </div>
                    <div class="mb-3">
                        <label for="data" class="form-label">Data Publish</label>
                        <input type="date" class="form-control" id="data" name="data">
                    </div>
                </div>
                <div class="modal-footer">
                    <button   button type="submit" class="btn btn-primary">Guarda <i class="bi bi-floppy2-fill ms-2"></i></button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock content %}