{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel = "shortcut icon" type = 'x-icon' href="{% static 'images/assembly.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Assembly Library System</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
        />
        <link
            rel="stylesheet"
            href={% static 'AdminLTE/plugins/fontawesome-free/css/all.min.css' %}
        />
        <link
            rel="stylesheet"
            href= {% static 'AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}
        />
        <link rel="stylesheet" href= {% static 'AdminLTE/dist/css/adminlte.min.css' %}/>
        <link rel="stylesheet" href="{% static 'icons/font/bootstrap-icons.min.css' %}">
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
        <div class="card card-outline card-dark">
            <div class="card-header text-center">
            <h2><b>Bemvindo, Admin!</b></h2>
            </div>
            <div class="card-body">
            <p class="login-box-msg">Login Hodi Bele Hahu ita nia Sesaun!</p>

            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                {{ form.username }}
                <div class="input-group-append">
                    <div class="input-group-text">
                    <span class="bi bi-person-fill-gear"></span>
                    </div>
                </div>
                </div>
                <div class="input-group mb-3">
                {{ form.password }}
                <div class="input-group-append">
                    <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                    </div>
                </div>
                </div>
            </form>
            <div class="social-auth-links text-center mt-2 mb-3">
                <a href="{% url 'dash-admin' %}" class="btn btn-block btn-dark" type = 'submit'>
                    <i class="bi bi-box-arrow-right"></i> Login
                </a>
            </div>
            </div>
        </div>
        </div>
        <script src={% static 'AdminLTE/plugins/jquery/jquery.min.js' %}></script>
        <script src={% static 'AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js'  %}></script>
        <script src={% static 'AdminLTE/dist/js/adminlte.min.js' %}></script>
    </body>
</html>
